@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyCustomFont';
    src: url('./fonts/Heading-Pro-Trial-Bold.ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  